<div class="mt-24">
  <h1><%= pluralize(@recipes.count, "Result")%></h1>
  <table>
    <thead>
      <tr>
        <th><%= sort_link(@query, :dish_name, "Dish name", default_order: :asc)%></th>
        <th><%= sort_link(@query, :created_at, "Created at:") %></th>
        <th><%= sort_link(@query, :user, "Author") %></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe|%>
        <tr>
          <td><%= link_to recipe.dish_name, recipe%></td>
          <td><%= link_to recipe.created_at.strftime("%F")   %></td>
          <td><%= link_to recipe.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>