<%= form_for recipe, url: url, method: method do |f| %>

<p class="mb-2 text-gray-800">
  <%= f.label :dish_name %><br/>
  <%= f.text_field :dish_name, size:"37" %>
</p>
<p class="mb-2 text-gray-800">
  <%= f.label :ingredient %><br/>
  <%= f.text_area :ingredient, size:"40x5" %>
</p>
<p class="mb-2 text-gray-800">
  <%= f.label :direction %><br/>
  <%= f.text_area :direction, size:"40x5" %>
</p>
<p class="mb-2 text-gray-800">
  <%= f.label :suggestion %><br/>
  <%= f.text_area :suggestion, size:"40x5" %>
</p>
<p class="mb-2 text-gray-800">
  <%= f.label :banner %><br/>
  <%= f.file_field :banner %>
</p>

<p class="text-center">
  <button class="bg-yellow-400 rounded-lg px-4 py-2 hover:bg-yellow-300 text-gray-800"><%= f.submit %></button>
</p>

<div class="text-red-600">
  <% if @recipe.errors.any? %>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<% end %>