<h1>Nutrition Analysis for <%= @ingredient %>:</h1>


  


  <p>Calories: <%= @results['calories'] %></p>
  <p>Protein: <%= @results['totalNutrients']['PROCNT']['quantity'] %> <%= @results['totalNutrients']['PROCNT']['unit'] %></p>
  <p>Fat: <%= @results['totalNutrients']['FAT']['quantity'] %> <%= @results['totalNutrients']['FAT']['unit'] %></p>


<%= link_to 'Back', :back %>