<div class="mt-24">
<h1>New Recipe</h1>
<%= render "form", recipe: @recipe, url: recipes_path, method: :post %>
<%= link_to "Back", root_path %>

<%= form_tag(analyze_path, method: :get) do %>
  <%= label_tag(:ingredient, 'Enter an ingredient:') %>
  <%= text_field_tag(:ingredient) %>
  <%= submit_tag('Analyze') %>
<% end %>
</div>
