<div class="mt-24 flex flex-col justify-center items-center">
  <h1 class="text-3xl mt-4 mb-4 font-medium text-gray-800"><%= @recipe.dish_name %></h1>
  <div class="w-full">
    <div class="container max-w-4xl px-10 py-6 mx-auto rounded-lg shadow-sm text-gray-800 mt-4 mb-4 border-2">
      <div class="flex items-center justify-between">
        <span class="text-sm"><%= @recipe.created_at.strftime("%c") %></span>
        <div class="flex items-center">
          <% if @recipe.user.image.attached? %>
            <%= image_tag(@recipe.user.image, style:"height: 40px;") %>
          <% else %>
            <%= image_tag("default.png", style:"height: 40px;") %>
          <% end %>
          <span class="mx-2"><%= @recipe.user.username %></span>
        </div>
      </div> 
        <% if @recipe.banner.present? %>
        <div class="flex justify-center items-center mt-2 mb-2">
        <%= image_tag(@recipe.banner, style: 'width:100%')%>
        </div>
        <% end %>
      <div class="mt-3">
        <p class="mt-2 font-medium">Ingredients:</p>
        <%= simple_format @recipe.ingredient %>
        <p class="mt-2 font-medium">Directions:</p>
        <%= simple_format @recipe.direction %>
        <p class="mt-2 font-medium">Suggestions:</p>
        <%= simple_format @recipe.suggestion %>
      </div>
      <div class="flex items-center justify-between mt-4">
        <div class="bg-lime-300 px-4 rounded-xl">
          <% pre_like = @recipe.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', recipe_like_path(@recipe, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', recipe_likes_path(@recipe), method: :post %>
          <% end %>
          <%= button_to 'Analyze', analyze_path(@recipe.id), method: :get %>
        </div>
        <div class="text-gray-400">
          <span>
            <%= @recipe.comments_counter %> <%= @recipe.comments_counter == 1 ? 'Comment' : 'Comments'%>
          </span> |
          <span>
            <%= @recipe.likes.count %> <%= (@recipe.likes.count) == 1 ? 'Like' : 'Likes'%>
          </span>
			  </div>
      </div>
    </div>
  </div>
  <div class="container max-w-4xl px-2 py-2 mx-auto rounded-lg text-gray-800">
    <%= render partial: "comments/create" %>
    <div class="my-8 ">
      <% @comments.each do |comment| %>
        <div class="border-2 shadow-sm w-full pl-2 pr-12 py-2 rounded-lg mb-4">
          <% if comment.user === nil %>
          <% else %>
            <div class="flex items-center">
              <% if @recipe.user.image.attached? %>
                <%= image_tag(@recipe.user.image, style:"height: 40px;") %>
              <% else %>
                <%= image_tag("default.png", style:"height: 40px;") %>
              <% end %>
              <span class="ml-2"><%= comment.user.username %></span>
            </div>
            <span class="text-xs"><%= comment.created_at.strftime("%c") %></span>
          <% end %>
            <p><%= simple_format comment.text %></p>
            <div class="bg-red-100 w-fit px-4 rounded-xl mt-2">
              <% if current_user.role === "admin" || current_user && current_user == comment.user %>
                <%= button_to "Delete", recipe_comment_path(@recipe, comment), method: :delete %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>