<div class="mt-24 flex flex-col justify-center items-center">
  <h1 class="text-3xl mt-10 mb-10 font-medium text-gray-800">Users</h1>
  <% @users.each do |user| %>
  <div class="border-2 shadow-sm w-1/2 pl-2 pr-12 py-2 rounded-lg mb-4 bg-amber-300">
    <p>User ID: <%= user.id %></p>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Recipes: <%= user.recipes.count %></p>
    <p class="mb-4">Comments: <%= user.comments.count %></p>
    <%= button_to "Delete", user_path(user), style: 'color: #FA8072;', method: :delete %>
  </div>
  <% end %>
</div>