<div class="mt-24 flex flex-col justify-center items-center">
  <h1 class="text-3xl mt-10 mb-10 font-medium text-gray-800">Recipes</h1>
  <% @recipes.each do |recipe| %>
  <div class="w-full">
    <div class="container max-w-4xl px-10 py-6 mx-auto rounded-lg shadow-sm text-gray-800 mt-4 mb-4 border-2">
      <div class="flex items-center justify-between">
        <span class="text-sm"><%= recipe.created_at.strftime("%c") %></span>
        <div class="flex items-center">
          <% if recipe.user.image.attached? %>
            <%= image_tag(recipe.user.image, style:"height: 40px;") %>
          <% else %>
            <%= image_tag("default.png", style:"height: 40px;") %>
          <% end %>
          <span class="mx-2"><%= recipe.user.username %></span>
        </div>
      </div>
      <% if recipe.banner.present? %>
        <div class="flex justify-center items-center mt-2 mb-2">
        <%= image_tag(recipe.banner, style: 'width:100%')%>
        </div>
      <% end %>
      <div class="mt-3 ">
        <p class="text-2xl font-bold"><%= recipe.dish_name %></p>
        <p class="mt-2 font-medium">Ingredients:</p>
        <%= recipe.ingredient %>
        <p class="mt-2 font-medium">Directions:</p>
        <%= recipe.direction %>
        <p class="mt-2 font-medium">Suggestions:</p>
        <%= recipe.suggestion %>
      </div>
      <div class="flex items-center justify-between mt-4">
        <div class = "flex">
          <button class="hover:underline text-violet-400">
            <%= link_to "Read More", recipe_path(recipe) %>
          </button> 
          <% if current_user.admin? %>
            <span class="px-2">|</span>
            <%= button_to "Delete", recipe_path(recipe), method: :delete %>
          <% end %>
        </div>
        <div class="text-gray-400">
          <span>
            <%= recipe.comments_counter %> <%= recipe.comments_counter == 1 ? 'Comment' : 'Comments'%>
          </span> |
          <span>
            <%= recipe.likes.count %> <%= (recipe.likes.count) == 1 ? 'Like' : 'Likes'%>
          </span>
			  </div>
      </div>
    </div>
  </div>
</div>
  <% end %>



