<div class="mt-24 flex flex-col justify-center items-center">
  <h2 class="text-3xl mt-10 mb-10 font-medium text-gray-800">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="p-4 bg-yellow-400 rounded-lg">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field mb-2">
        <%= f.label :Upload_Image %><br />
        <%= f.file_field :image %>
      </div>

      <div class="field mb-2">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", size:"30" %>
      </div>

      <div class="field mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size:"30" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-2">
        <%= f.label :Change_password %><br />
        <%= f.password_field :password, autocomplete: "new-password", size:"30" %>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div class="field mb-8">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size:"30" %>
      </div>

      <div class="field mb-2">
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password", size:"30" %>
        <p class="text-sm">(type your password to confirm your changes)</p>
      </div>
      <br>
      <div class="actions text-center">
        <button class="bg-lime-500 hover:bg-lime-400 rounded-lg px-8 py-2 hover:bg-yellow-300 text-gray-800"> <%= f.submit "Update" %></button>
      </div>
    <% end %>
  </div>
</div>